In [2]:
using Extol: greet

greet()

In [37]:
using HTTP, JSON, CSV, DataFrames

In [55]:
d = Dict("a" => 1, "b" => 2)
write("testy.json", json(d, 2))
json(d, 2)

"{\n  \"b\": 2,\n  \"a\": 1\n}\n"

In [46]:
resp = HTTP.get("https://people.sc.fsu.edu/~jburkardt/data/csv/cities.csv");
resp.status

200

In [47]:
x = resp.body |> IOBuffer

IOBuffer(data=UInt8[...], readable=true, writable=false, seekable=true, append=false, size=8402, maxsize=Inf, ptr=1, mark=-1)

In [54]:
df = CSV.read(x, DataFrame);
first(df, 5)

5×10 DataFrame
 Row │ LatD   LatM   LatS   NS       LonD   LonM   LonS   EW       City        ⋯
     │ Int64  Int64  Int64  String1  Int64  Int64  Int64  String1  String31    ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │    41      5     59  N           80     39      0  W        Youngstown  ⋯
   2 │    42     52     48  N           97     23     23  W        Yankton
   3 │    46     35     59  N          120     30     36  W        Yakima
   4 │    42     16     12  N           71     48      0  W        Worcester
   5 │    43     37     48  N           89     46     11  W        Wisconsin D ⋯
                                                               2 columns omitted